<h1>Editing to_do</h1>

<% form_for(@to_do) do |f| %>
  <%= f.error_messages %>
<p>
	<%= f.label :description %> <br />
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :due_on %><br />
	<%= f.text_field :due_on %>
</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @to_do %> |
<%= link_to 'Back', to_dos_path %>