<p><b>Description:</b> <%=@to_do.description%></p>
<p><b>Due on:</b> <%=@to_do.due_on%></p>
<p><b>Created:</b> <%=@to_do.created_at%></p>
<p><b>Updated:</b> <%=@to_do.updated_at%></p>
<p>
<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>